/* Overwrite the defaults styling */ 

/* Mobile Styling */
@media only screen and (max-width: 575px) {
    .navbar a.dropdown-item {
        color: #000000;
    }
    .navbar a:not(.btn):not(.dropdown-item) {
        color: #000000;
    }
}

.bg-topper {
    background-color: #ebeae6;

}

/*404 Error Page*/
.text-navy {
    color: #283E7D;
}
.font-gothic {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.textShadow-grey {
    text-shadow: 1px 3px #4f4f4f63;
}
.navy-button, .outline-navy-button:hover, .outline-navy-button:hover a  {
    background: #283E7D;
    border: 1px solid #283E7D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    width: 9em;
}
.outline-navy-button, .navy-button:hover, .navy-button:hover a, .navy-button:active a  {
    background: white;
    border: 1px solid #283E7D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color:#283E7D;
    text-decoration: none;
    width: 9em;
}

