/* Overwrite the defaults styling */ 

/* Mobile Styling */
@media only screen and (max-width: 575px) {
    .navbar a.dropdown-item {
        color: #000000;
    }
    .navbar a:not(.btn):not(.dropdown-item) {
        color: #000000;
    }
}

.bg-topper {
    background-color: #ebeae6;

}


